@import url(./assets/navbar.css);
@import url(./assets/reset.css);

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Work Sans", sans-serif;
  display: flex;
  height: 100vh;
  background-color: #4a41e0;
  padding: 15px 15px 15px 0;
}

.main-content {
  margin-left: 310px;
  padding: 30px;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 15px;
}

@media (max-width: 1300px) {
  body {
    padding: 0;
  }
  .main-content {
    margin-top: 70px;
    padding: 20px 5px;
    height: 100vh;
    margin-left: 0;
  }
}